<!doctype html>
<h1>
  {{title}}
</h1>

<h3>Material in Angular 4</h3>
<div>
 <md-icon class="md-48" md-tooltip="Face" tooltip-position="below">face</md-icon>

 <i class="material-icons md-18">face</i>

 <i class="material-icons md-24">face</i>

 <i class="material-icons md-36">android</i>

 <i class="material-icons md-48" md-tooltip="Android" tooltip-position="above">android</i>
</div>

<div> Material Icons:
  <i class="material-icons md-dark">face</i>
  <i class="material-icons md-dark md-inactive">face</i>
  <i class="material-icons md-light">face</i>
  <i class="material-icons md-light md-inactive">face</i>
  <i class="material-icons orange600">face</i>
</div>
<div>
  <md-toolbar color="primary">
    <span><md-icon class="md-48">mood</md-icon></span>

    <span>Hello, Material Design in Angular 4 !</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <md-card>
    <button md-button>All</button>
    <button md-raised-button>Of</button>
    <button md-raised-button color="primary">The</button>
    <button md-raised-button color="accent">Buttons</button>
    <a md-fab color="primary"><md-icon>check</md-icon></a>
    <a md-mini-fab md-tooltip="Material design Mini Fab" tooltip-position="above" color="primary"><md-icon>check</md-icon></a>
    <button md-button md-tooltip="some message" tooltip-position="right">Button</button>
  </md-card>
  <md-card>
    <a md-raised-button md-tooltip="Material Design components for Angular apps"
      href="http://material.angular.io" target="_blank">Go to Angular Material</a>
  </md-card>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>
